[submodule "thirdparty/plux/python-samples"]
	path = thirdparty/plux/python-samples
	url = https://github.com/pluxbiosignals/python-samples
[submodule "python_utils"]
	path = python_utils
	url = https://github.com/gkouretas/python_utils
